<!-- Contact section -->
<footer id="contact" class='py-1'>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <div class="p-4 align-self-center links" >
                <a href="https://github.com/Mutiyah"><i class="fab fa-github fa-2x"></i></a>
              </div>
            
              <div class="p-4 align-self-center links" >
                <a href="https://www.linkedin.com/in/mutiyah-muritala-114392174/"><i class="fab fa-linkedin fa-2x"></i></a>
              </div>
            
              <div class="p-4 align-self-center links" ><a href="mailto:mutiyah.kem@gmail.com"><i class="fas fa-at fa-2x"></i></a></div>
        </div>
    </div>
  </footer>