
<section class="py-4" id="about-me">
   <div class="row d-flex flex-lg-row flex-column">
       <div class="col-12 col-lg-6 " id="image-section"><div  id="image-section1"> </div>
       <img class="col-12 col-lg-6 " [src]="myImage" alt="" width="430" height="600"></div>
       <div class="col-12 col-lg-6 " id="short-note">
        <h4>I am Mutiyah Muritala, a computer science graduate and a frontend developer.</h4> <br>
        <p>I started coding in 2018.  I am current learning mobile app developerment - Frontend.  I am fluent in HTML5, CSS3, JavaScript and bootstrap. I am currently learning Angular, Ionic and Firebase. 
        </p> <br>
        <h4>Web Technologies</h4>
        <p class="languages">HTML5 <span class="asteriks">*</span> CSS3 <span class="asteriks">*</span> JavaScript <span class="asteriks">*</span> Bootstrap <span class="asteriks">*</span> Firebase <span class="asteriks">*</span> Wordpress.</p><br>
        <h4>Moble App Technologies.</h4>
        <p class="languages">Angular <span class="asteriks">*</span> Cordova <span class="asteriks">*</span> App.js <span class="asteriks">*</span> Ionic. </p>
     
        <p>This website was built using Angular and Bootstrap.</p>
       </div>
   </div>
  </section>



<section id="hobbySection" class="mb-1">
<div class="row d-flex justify-content-center px-md-5 px-4 pb-5 " id="hobbyWhen"> <h3>When I'm not coding, you can find me...</h3></div>
<div class="row d-flex flex-md-row flex-column justify-content-center">
        <div class="sub-hobby d-flex flex-column  pr-md-4 mb-4 align-self-center">
          <i class="fas fa-route fa-2x"></i>
          <p>Travelling</p>
        </div>
      
        <div class="sub-hobby d-flex flex-column  pr-md-4 mb-4 align-self-center">
          <i class="fas fa-running fa-2x"></i>
          <p>Workout</p>
        </div>
      
        <div class="sub-hobby d-flex flex-column pr-md-4  mb-4 align-self-center">
          <i class="fas fa-graduation-cap fa-2x"></i>
          <p>Learning </p>
        </div>
      </div>
</section> 
