<!-- Project section -->

<section id="projectSection" class="pb-5">

  <!-- <div class="row d-flex justify-content-center py-5" id="projectSection-heading">
    <h1>PROJECT</h1>
  </div> -->


  <div class="row">
    <div class="col-10 d-flex flex-md-row flex-column sub-projectSection mb-5">
      <div class="col-md-6 col-12  projectSection-content align-self-center">
        <h2>Berbcornerpix Construction Limited</h2>
        <p>
          A construction company website that showcase the company's
          information, projects and their contacts. <br />
          It was developed using HTML5, CSS3, JavaScript, bootstrap, and
          Formspree to handle form submittions.
        </p>
      </div>

      <div class="col-md-6 col-12 projectSection-image d-flex flex-column align-self-center">
        <img class="img-fluid" [src]="project1" alt="" />
        <a class="mb-3 mt-3" href="https://mutiyah.github.io/BCLTD/" target="_blank">VISIT</a>
      </div>
    </div>

    <hr>

    <div class="col-10 d-flex flex-md-row-reverse flex-column sub-projectSection mb-5">
        <div class="col-md-6 col-12  projectSection-content align-self-center">
          <h2>Table Sorting App</h2>
          <p>This app was built using React and the table was populated using a REST API. It has searching, filtering and pagination features.</p>
        </div>

        <div class="col-md-6 col-12 projectSection-image d-flex flex-column align-self-center">
          <img class="img-fluid" [src]="project4" alt="" />
          <a class="mb-3 mt-3" href="https://6009e41817e93e19c0d9f73b--focused-wing-917893.netlify.app" target="_blank">VISIT</a>
        </div>
      </div>

    <hr>
    <!-- col-10 d-flex flex-md-row flex-column sub-projectSection  -->

    <div class="col-10 d-flex flex-md-row flex-column sub-projectSection mb-5">
        <div class="col-md-6 col-12  projectSection-content align-self-center">
          <h2>First Lakeside Limited</h2>
          <p>A construction company website that showcase the company's information, projects and their contacts. <br>
            It was developed using HTML5, CSS3, JavaScript, bootstrap, and Formspree to handle form submittions.
          </p>
        </div>

        <div class="col-md-6 col-12 projectSection-image d-flex flex-column align-self-center">
          <img class="img-fluid" [src]="project2" alt="" />
          <a class="mb-3 mt-3" href="https://mutiyah.github.io/firstLakeSide/" target="_blank">VISIT</a>
        </div>
      </div>

      <hr>
      <div class="col-10 d-flex flex-md-row-reverse flex-column sub-projectSection mb-5">
        <div class="col-md-6 col-12  projectSection-content align-self-center">
          <h2>Web Curriculum Vitae</h2>
          <p>
            It was developed using HTML5, CSS3, JavaScript, bootstrap, and Formspree to handle form submittions.
          </p>
        </div>

        <div class="col-md-6 col-12 projectSection-image d-flex flex-column align-self-center">
          <img class="img-fluid" [src]="project3" alt="" />
          <a class="mt-3" href="https://mutiyah.github.io/my-cv/" target="_blank">VISIT</a>
        </div>
      </div>


  </div>
</section>



